.contact {
  height: 100vh;
  display: flex;
  justify-content: center;
}
.back-btn{
    zoom: 2.5;
    cursor: pointer;
    color: black;
    margin: 10px;
}


.submit {
  background-color: #237bad;
  width: 200px;
  border-radius: 20px;
  padding: 7px 20px;
  border: none;
  font-size: larger;
  color: white;
  font-weight: 700;
  transition: all 0.5s ease;
  margin-top: 20px;
  margin-bottom: 30px;
}

.contact-info {
  display: flex;
  flex-direction: column;
}

.contact-info h1 {
  text-align: center;
  color: #237bad;
  font-size: 60px;
  padding-top: 50px;
  padding-bottom: 30px;
}

.text {
  width: 400px;
  margin: 5px;
  border-radius: 8px;
  border: 3px solid #237bad;
  font-size: 18px;
  padding: 10px 20px;
}

.text:focus {
  outline: none;
  border-color: #237bad;
}

.textarea {
  margin: 5px;
  border-radius: 8px;
  border: 3px solid #237bad;
  height: 200px;
  padding-top: 10px;
  font-size: 18px;
  padding: 10px 20px;
  resize: none;
}

.textarea:focus {
  outline: none;
  border-color: #237bad;
}

.btn {
  display: flex;
  justify-content: center;
}
.error{
  color: rgb(202, 40, 40);
  text-align: center;
  font-size: 18px;
  max-width: 810px;
}
.msg{
  text-align: center;
  font-size: 18px;
  max-width: 810px;
  color: rgb(34, 122, 34);
}

@media (max-width:991px) {
  .contact{
    height: auto;
    padding: 0px 20px;
  }
  .text{
    width: 100%;
  }
  .textarea{
    width: 100%;
  }
  .back-btn{
    margin: 0px;
  }
}
@media (max-width:450px) {
  .contact-info h1{
    font-size: 40px;
    padding: 20px 0px;
  }
  .text,.textarea{
    font-size: 15px;
    padding: 10px 20px;
  }
}