.top{
  height: auto;
  position: relative;
  margin-top: 20px;
  padding: 20px 60px;
} 
.back{
  zoom: 2.5;
  cursor: pointer;
  color: black;
}
.slider{
    height: 500px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  .top h1{
    text-align: center;
    padding: 20px;
    font-size: 40px;
  }
.project-content{
  padding: 60px;
}
.project-content p{
  padding: 20px 0px;
  font-size: 22px;
}
.project-content li{
  font-size: 22px;
}
.project-content span{
  font-weight: 600;
}
.center{
  display: flex;
  justify-content: center;
  text-decoration: none;
}
@media (max-width:991px) {
  .top{
    padding: 10px;
  }
  .top h1{
    font-size: 35px;
  }
  .slider{
    height: 400px;
    width: 600px;
  }
}

@media (max-width:669px) {
  .slider{
    height: 220px;
    width: 350px;
  }
  .top h1{
    font-size: 25px;
  }
  .project-content{
    padding: 20px;
  }
  .project-content p{
    padding: 20px 0px;
    font-size: 15px;
  }
  .project-content li{
    font-size: 15px;
  }
  .project-content span{
    font-weight: 600;
  }
}